.products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  object-fit: contain;
  background-color: #ffffffe1;
  border-radius: 12px;
}

.image-product {
  width: 250px;
  height: 250px;
  border-radius: 2px 12px 4px 4px;
  background-color: white;
}
